/*-- scss:defaults --*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary: transparent !default;

$font-family-base: 'Roboto Regular', 'Cabin Regular', 'Source Sans Pro', 'Lato', 'Merriweather' !default;
$body-color: $gray-900 !default;
$headings-font-family: 'Oleo Script', 'Prata', 'Roboto', 'Playfair Display', 'Montserrat' !default;
$linkcolor: rgba(185, 186, 143, 1) !default;

/*-- scss:rules --*/
p
{
  margin-top: 0;
  margin-bottom: 1rem;
  font-style: bold;
  font-size: 1.2rem;
  color: black;
}

ol, ul, dl
{
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: black;
}

#title-block-header.quarto-title-block.default .quarto-title .title {
  font-family: "Oleo Script", $headings-font-family;
  font-size: $font-size-base * 3.5 ;
}

.navbar-dark .navbar-brand
{
  font-family: "Oleo Script","Oleo Script","Prata","Roboto","Playfair Display","Montserrat";
  font-size: 1.5rem;
}

.navbar > .container-xxl, .navbar > .container-xl, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container, .navbar > .container-fluid {
  max-width: 800px;
  margin: 0 auto;
}

div.quarto-post .listing-categories .listing-category
{
  color: $gray-900;
  background-color: $gray-300;
  border: none;
  border-radius: .5rem;
  text-transform: uppercase;
}

.quarto-title .quarto-categories .quarto-category
{
  padding: .25em .75em;
  font-size: .8em;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: .5rem;
  opacity: 1;
}

#quarto-margin-sidebar .quarto-listing-category-title
{
  font-family: $font-family-base;
  color: #3d6efd;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

#quarto-margin-sidebar .quarto-listing-category
{
  font-family: $font-family-base;
  padding-top: 0;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

body {
  position: relative;
  background-image: url("https://wallpaperaccess.com/full/2796659.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3); /* Adjust the alpha value (0 to 1) for opacity */
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}
a {
    color: $gray-800;
    text-decoration: underline;
    font-weight: 650;
  }
  
.blockquote > :last-child
{
  margin-bottom: 0;
  color: black;
  font-family: "Roboto";
  font-style: italic;
  font-size: 1.05rem;
}